<h1>Editing watch box</h1>

<%= render "form", watch_box: @watch_box %>

<br>

<div>
  <%= link_to "Show this watch box", @watch_box %> |
  <%= link_to "Back to watch boxes", watch_boxes_path %>
</div>
