<p style="color: green"><%= notice %></p>

<h2 class="px-4"><%= link_to "HOME", root_path %></h2>
<h5 class="px-4">Watches</h5>

<div class="row" id="watches">
  <% @watches.each do |watch| %>
    <%= render watch %>
  <% end %>
</div>

<h3 class="p-4">
  <%= link_to "New watch", new_watch_path %>
</h3>
